*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
**.egg-info
**.so
diff_rasterization/dist
submodules/diff-gaussian-rasterization*

cameras.json
*.ply
*.mp4
datasets
wandb

results*
screenshots*
